.group-radio-container {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.group-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check-mark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}

.group-radio-container:hover input ~ .check-mark {
  background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check-mark :after {
  content: '';
  position: absolute;
  display: none;
}

.group-radio-container input:checked ~ .check-mark :after {
  display: block;
}

.viewerFormAvatar {
  cursor: pointer;
}

.cursorunset {
  cursor: unset;
}

.cursorPointer {
  cursor: pointer;
}
