.study-form-header-section
  background: var(--form-header-color)
  color: white
  height: 35px
  margin 0px
  display: flex
  align-items: center
  padding-left: 10px

.viewerFormAvatar {
  cursor: pointer;
}
