.study-completion-form
  color: white
  display: flex
  flex-direction: column
  height: 100%

  .study-form-scrollable
    background-color: var(--ui-gray-darker)
    flex: 1
    height: 100%
    overflow-y: scroll
    overflow-x: auto

  .study-form-header
    margin: 10px 10px

  .study-form-question
    padding: 15px 10px 0;
    .study-form-seperator{
      position relative;
      padding-bottom: 20px;
      &:before{
        position:absolute;
        content:'';
        width: 100%;
        left: 0;
        bottom: -1px;
        background: var(--ui-border-seperator-color);
        height: 1px;
      }
    }
   .study-form-seperator-current-question{
      &:before{
        background: var(--form-active-background) !important
      }
    }

  .active-form
    border: 1px solid var(--form-border-color-active);
    background: var(--form-active-background)
    margin:0px

    label
      margin-right: 5px

    &.has-error
      color: red

  .study-form-label
    font-weight: bold;
    padding-bottom: 10px;

  .study-form-radio
    display: block

    &.checked
      font-weight: bold

  .study-form-radio-button
    display: inline-block
    background-color: white
    border: 1px solid transparent
    color: black
    cursor: pointer
    margin-right: 5px !important
    padding: 5px 10px

    &.checked
      background-color: var(--active-color)
      border: 1px solid black

    &.disabled
      background-color: #aaa

      &.checked
        background-color: #666

    input
      display: none

  .study-form-text
    background-color: var(--input-background-color)
    border-color: var(--ui-border-color-dark)
    color: white
    outline: none
    resize: none
    width: 100%

  .study-form-textarea
    height: 100px

  .custom-info-table
    div
      text-overflow: ellipsis
      overflow hidden
      white-space: nowrap
      padding-right: 5px

    .single-info
      display: flex;
      justify-content: space-between;
      padding: 0px 5px;

      div
        width :50%

    .grouped-info
      padding: 0px 5px;

      div
        width :100%

      span
        cursor: pointer

    .group-info-heading
      background-color: var(--form-header-color);
      display: flex
      border-bottom: 1px solid var(--ui-gray-darker)
      height:20px

      div
        height:20px

  .study-completion-buttons
    display: flex

  .study-complete-button
    background-color: var(--ui-gray-dark)
    border: none
    color: var(--default-color)
    cursor: pointer
    outline: none
    padding: 10px
    width: 100%

    &:active
      background-color: var(--ui-gray-darker)

    &:not(:first-of-type)
      border-left: 3px solid var(--ui-gray-darker)

.tooltip-warning
  &.in
    opacity 1

  .tooltip-inner
    padding: 0

    .warningTitle
      text-align: center
      background-color: var(--ui-gray-darkest)
      padding: 7px 15px
      border-top-left-radius: 7px
      border-top-right-radius: 7px

    .warningContent
      text-align center
      background-color: var(--ui-gray)
      border-bottom-left-radius: 7px
      border-bottom-right-radius: 7px
      padding: 10px 15px
      white-space: pre-line;

.drop-down-style
  width: 100% !important

.drop-down-container
  width: 100%;
  margin-top: 5px
