.tag-browser
  color: white
  display: block
  height: 100%
  overflow: auto

  thead tr
    background-color: var(--ui-gray-darker)
    cursor: pointer

    th, td
      padding: 2px 5px

    input[type="text"]
      height: 20px
      border: none
      background-color: var(--input-background-color)
      color: var(--input-placeholder-color)
      border-radius: 4px
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      outline: none;
      width: 100%

      &:focus
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102,175,233,0.6)

  tbody tr
    background-color: #000

    td
      padding: 2px 5px

    &:nth-child(even)
      background-color: var(--ui-gray-darker)

    &:hover
      background-color: var(--table-hover-color)

  .tag-indent
    margin-left: 5px

  td > .tag-indent
    margin-left: 0
