.brand-name {
  padding: 10px 0 5px;
  width: 100%;
  text-align: center;
}

.flywheel-logo-image {
  width: 140px;
}

.research-use {
  color: var(--text-primary-color);
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  align-items: center;
  padding-bottom: 15px;
}

.tooltip-info .in{
  opacity: 1;
}

.tooltip-info .tooltip-inner{
  max-width: 300px;
  padding: 0;
  font-style: italic;
}

.tooltip-info .tooltip-content{
  background-color: var(--ui-gray);
  height: 115px;
  max-width: 550px;
  padding: 10px 15px 15px;
  display: flex;
  flex-direction: column;
}
