
.main-dialog
  .content
    background: black
    padding: 0px

.instruction-dialog
  width: 290px
  height: 200px

.expanded-right-hand-panel
  width: 600px

.instruction-dialog-link
  @extend .instruction-dialog
  border: 3px solid white

.icon-size:
  font-size: 12px

.main-content
  flex:1
  display: flex
  position: relative

.instruction-label
  position:absolute
  top: 10px
  z-index: 5
  width: 100%;
  font-size:12px
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  height: 20px;
  white-space: nowrap;

.common-button
  position: absolute
  flex:1
  display: flex
  align-items: center
  min-width: 20px
  max-width: 20px
  height: 100%
  color: white
  cursor: pointer
  user-select: none
  pointer-events: none

.prev-arrow
  @extend .common-button
  left: 5px

.next-arrow
  @extend .common-button
  right: 0
  top: 0

.user-select-none
  user-select: none
  pointer-events:all

.image-container
  text-align: center
  width: 100%
  height:100%
  display: flex
  justify-content: center
  align-items: center
  flex:1

.instruction-link
  height: 100%
  width: 100%
  display:flex
  flex-direction: column
  flex:1

.instruction-link-content
  display:flex
  justify-content: center
  align-items: center
  flex:1
  word-break: break-all

.link-label
  margin-top: 20px

.image-box
  width: 100%
  height: 100%
  object-fit: cover

.prev-icon-container
  height:20px
  width: 20px
  background: #8e8e8e61
  border-radius: 50%

.next-icon-container
  @extend .prev-icon-container
  position: relative
  right: 4px

.prev-icon
  position: relative
  left: 5px
  top: 2px

.next-icon
  @extend .prev-icon
  left: 3px

.instruction-new-tab
  position:absolute
  top: 8px
  right: 8px
  z-index: 5
  font-size:12px
  .toolbar-button
    height: 30px
    padding: 0px
    color: white

.link-color
  color: white
  &:hover
    color: #20a5d6

.align-text
  text-align: center
