.collapse-button-style
  display: flex
  justify-content: center
  align-items: center
  min-width: 25px
  max-width: 25px
  min-height:  25px
  max-height: 25px
  background: var(--collapse-button-color)
  border-radius: 50%
  cursor: pointer

  .toolbar-button
    padding: 0px
    height: 28px
    color: var(--ui-gray-darker)
    &:hover
      color: var(--ui-gray-darker)

.margin-right-10
  margin-right: 10px

.collapse-icon
  font-size: 18px

.expand-icon
  @extend .collapse-icon
  margin-left: 7px
