.slider-direction.container
  width:auto
  right:20px
  position: absolute
  border-radius: 5px
  background-color: black
  color: white
  margin: 5px
  padding: 5px
  font-size: small


  .slider-up,
  .slider-down
    padding: 3px
