.flex-justify-center
  display: flex
  justify-content: center

.button-style-close
  @extend .flex-justify-center
  background: white
  color: black
  height: 35px
  width: 90px
  align-items: center
  font-weight: bold
  text-align: center
  margin-top: 10px

.button-container
  display: flex
  justify-content: space-around
  min-width: 400px

.label-style
  @extend .flex-justify-center
  margin-bottom: 100px
  align-items: center

.study-form-question

  label
    margin-right: 10px

  &.has-error
    color: red

.study-form-label
  font-weight: bold

.study-form-radio
  display: block

  &.checked
    font-weight: bold

.study-form-radio-button
  display: inline-block
  background-color: white
  border: 1px solid transparent
  color: black
  cursor: pointer
  margin-right: 5px !important
  padding: 5px 10px

  &.checked
    background-color: var(--active-color)
    border: 1px solid black

  &.disabled
    background-color: #aaa

    &.checked
      background-color: #666

  input
    display: none
