.ToolContextMenu {
  position: absolute;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 1000;
  display: block;
  width: 170px;
}

.ToolContextMenu > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.ToolContextMenu > ul > li > button {
  padding: 10px;
  font-size: 14px;
  border: none;
  color: #516873;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background: none;
}

.ToolContextMenu > ul > li > button:hover {
  color: #16202b;
}

.ToolContextMenu > ul > li > button:active {
  color: #79f9fe;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
