.agreement-container
  display: flex

.component-container
  display: flex
  flex-direction: column
  flex: 1.5
  align-items: flex-start
  justify-content: center

.chart-container
  margin-right: 5px
  display: flex
  flex: 1
  align-items: center
  justify-content: center

.avatar-container
  flex: 1
  display: flex

.user-avatar-container
  display: flex
  flex: 1
  flex-direction: row-reverse

.avatar-wrapper
  flex: 0
  display: flex
  padding-right: 2px
  padding-left: 2px

.radio-button-wrapper-multi-task
  position: relative
  display: inline-block
  outline: 0
  font-size: 14px
  width: 100%
  margin: 2px 0
