.measurement-panel
  display:flex
  flex:1

.flywheel-table-style
  height: 100%

.height-full
  height: 100%
  .study-form-container
    height: 100%

.padding-top-25
  padding-top: 0px

.flywheel-measurement-panel
  height: 100%

  .annotationTable
    height: fill-available
    clear: both

  .measurementTable
    height: -webkit-fill-available
    height: fill-available

  .save-measurements-button
    background-color: var(--ui-gray-dark)
    border: none
    color: var(--default-color)
    cursor: pointer
    outline: none
    padding: 10px
    width: 100%

    &:active
      background-color: var(--ui-gray-darker)

  .timer-container
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    min-height: 34px;
    max-height: 34px;
    padding: 0px 10px;
    .timer-title
      color: var(--default-color);
      font-weight: 200;
    .timer-value
      display: flex;
      align-items: center;
      color: var(--timer-text-color);

.measurement-container
  display:flex
  flex: 1
  height: 100%
  .measurementTableFooter
    padding:0px
    z-index: 0
  .scrollNavUp
  .scrollNavDown
    display:none

.container-top
  display: flex
  flex-direction: column
  flex: 1

.not-visible-measurement
  display: flex
  flex-direction: column
  justify-content: space-between

.not-visible-measurement-and-timer
  display: flex
  flex-direction: column
  justify-content: flex-end

.is-scissorsTool-active
  pointer-events: auto !important
  cursor: pointer !important

