.container
  position: relative
  display: inline-block
  width: 100%

.smartCT-container
  position: relative
  display: inline-block
  width: 100%
  background-color: var(--input-background-color)

.display-label
  background-color: var(--input-background-color)
  cursor: pointer
  outline: 0
  color: var(--text-secondary-color)
  font-size: 14px
  padding: 5px 8px
  text-align: left
  flex: 1
  display: flex

  &.disabled
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;

.display-value
  font-size: 15px
  font-weight: 300

.select-container
  position: absolute
  top: 100%
  left: 0
  width: 100%
  z-index: 2
  border: 1px solid rgba(0, 0, 0, 0.04)
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%)

  ul
    list-style: none
    padding: 0
    margin: 0
    background-color: var(--input-background-color)
    color: var(--text-primary-color)
    font-size: 10pt
    font-weight: normal


  li
    padding: 5px
    display: flex
    cursor: pointer


.color-picker-container
  height: 20px
  width: 20px
  border-radius: 4px
  margin-right: 10px

.selectLabel-container
  ul
    list-style: none
    padding: 0
    margin: 0
    color: var(--text-primary-color)
    font-size: 10pt
    font-weight: normal
  li
    padding: 5px
    display: flex
    cursor: pointer
    &:hover
      background-color: var(--input-placeholder-color--hover);

.active-li
  background-color: var(--input-placeholder-color--hover);
  border-radius: 3px
