.btnStyle {
  background: white;
  color: black;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}

.labelStyle {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editLabelDescriptionDialog {
  position: absolute;
  z-index: 300;
  width: 320px;
  transition: all 300ms linear;
  background: #10141a;
}

.fs-12 {
  font-size: 12px;
}

.mb-5 {
  margin-bottom: 5px;
}

.rootClass {
  background: #10141a;
}

.editLabelDescriptionDialog .simpleDialog .header {
  padding: 19px 22px 17px !important;
  position: relative !important;
}

.text-area-style {
  background: #1c232e;
  min-height: 150px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  color: #c3bdbd;
  padding: 10px;
  resize: none;
}

.footer-container {
  background: #1c232e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.cancel-button {
  background-color: #1c232e;
  border: 1px solid #464f68;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.save-button {
  background-color: #3664f0;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.inner-content .content {
  padding: 0px !important;
}

.inner-header .header {
  padding: 15px;
  background: #1c232e;
  border: none;
  display: flex;
  align-items: center;
}

.inner-header .closeBtn {
  color: white !important;
}

.inner-header .title {
  font-size: 18px !important;
  color: white !important;
}

.inner-container {
  margin: 15px;
}
