.colorChannelDialog
  width: 90px
  min-height: 100px
  .colorItems
    text-align: left
    margin-bottom :5px
    .inputItem
      margin-right :5px
      -webkit-appearance: none
      background-color: rgb(41, 40, 40)
      color: #9ccef9
      width: 10px
      height: 10px
      border: 1px solid #9ccef9
      border-radius: 2px
      display: inline-flex
      place-content: center
      &:before
        content: ""
        width: 9px
        height: 9px
        transform: scale(0)
        transition: 120ms transform ease-in-out
        box-shadow: inset 9px 9px #9ccef9
      &:checked::before
         transform: scale(1);
