
.details-pane-container
  background: #171818
  height: 135px
  font-size: 10px
  color: var(--ui-gray-light-background)
  padding: 5px
  margin: 5px 0px 5px 0px

.details-pane-height
  height: 70px

.info-title
  text-decoration-line: underline
  font-weight: bold

.sub-info-container
  display: flex
  flex: 1
  padding: 5px 10px 5px 10px

.info-container
  flex: 1
  display: flex
  flex-direction: column

.title
  font-weight: bold
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.info-content
  max-width: 100px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin-left: 5px
  color: #9b9191

.display-flex
  display: flex
