
.display-flex
  display:flex

.flex-align-center
  display: flex
  align-items: center

.display-flex-column-center
  @extend .flex-align-center
  flex-direction: column
  cursor: pointer

.undo-redo-label
  color: var(--text-light-blue)
  font-size: 10px !important
  line-height: 1px

.undo-redo-container
  margin-right: 10px

.margin-right
  margin-right: 10px
