.btnStyle
  background: white;
  color: black;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  cursor: pointer;

.btnContainer
  display: flex;
  justify-content: space-around;
  min-width: auto;

.simpleDialog
  min-width: 300px;
  .header
    height: 46px;
    padding: 10px 22px 10px;
    border-bottom-width: 1px;
    .title
      font-size: 17px;
