#viewer {
  background-color: black;
  width: 100%;
}

.loadingTextDiv {
  color: var(--text-secondary-color);
  font-size: 30px;
}

.expand-panel {
  min-width: 646px;
  max-width: 646px;
}

.hide-panel {
  min-width: 0px;
  max-width: 0px;
}
