.flywheel-logo-header{
  display: flex;
  flex-wrap: nowrap;
}
.brand-logo {
  padding: 10px 0 5px;
  text-align: center;
  width: 90%;
}

.flywheel-logo {
  width: 20%;
}

.investigation-use {
  color: var(--default-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tooltip-info .in{
  opacity: 1;
}

.tooltip-info .tooltip-inner{
  max-width: 300px;
  padding: 0;
  font-style: italic;
}

.tooltip-info .tooltip-content{
  background-color: var(--ui-gray);
  height: 115px;
  max-width: 550px;
  padding: 10px 15px 15px;
  display: flex;
  flex-direction: column;
}

.buttons-wrapper{
  display: flex;
  align-items: center;
}

.new-tab-link .toolbar-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tab-link .toolbar-button-label{
  font-size: 12px !important;
  font-weight: 500;
  padding-top: 3px;
}

.details-subheader-label{
  font-size: 12px;
  font-weight: 500;
  padding-top: 3px;
}
